@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
  }

body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(to right, rgb(52 177 98 / 87%), rgb(10 28 23));
}

header {
    margin: 5%;
}

.img{
    position: absolute;
    top: 59%;
    left: 0%;
    width: 100%;
    margin: auto;
}


.titulo1 {
    text-align: center;
    justify-content: center;
    font-style: normal;
    font-weight: bold;
    font-family: "Kanit", sans-serif;;

    font-style: normal;
    font-weight: bold;
    font-size: 4em;
    font-family: sans-serif;
    color: rgb(255, 255, 255);
}

.titulo2 {
    text-align: center;
    justify-content: center;
    font-style: normal;
    font-weight: bold;
    font-size: 2em;
    font-family: sans-serif;
    color: #FFF;
}

/* -- CHAMANDO A CLASSE BOX*/
.box {
    position: absolute;
    top: -34%;
    left: 50%;
    transform: translate(-50%, 50%);
    background-color: rgba(0, 0, 0, 0.6);
    padding: 15px;
    border-radius: 15px;
    width: 60%;
    margin: auto;
}

legend {
    font-family: sans-serif;
    color: white;
    font-size: 1.5em;
}

.texto-box{
    color: #FFF;
    text-align: center;
    font-size: 1.5em;
    text-decoration: underline;
}

.tbx1{
    font-weight: bolder;
}

.tbx2{
    font-weight: lighter;
}

#Botao-enviar {
    display: flex;
    justify-content: flex-end;
    text-align: right;
    padding: 5%;
}

.btn {
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 7%;
    padding-right: 7%;
    font-size: 1em;
    font-style: normal;
    font-weight: bolder;
}

footer {
    position: absolute;
    width: 100%;
    display: block;
    top: 270%;
    color: rgb(255, 255, 255);
    background-color: #FFF;
}
.h1-footer{
    background-color: #bb0505;
    text-align: center;
    font-family: sans-serif;
}